.add-rest-container {
  button {
    background-color: #408cec;
    border: 0;
    padding: 12px 20px;
    color: var(--white);
    margin: 0 auto;
    width: 150;
    display: block;
    border-radius: 3px;
    margin: 0;
    margin-top: 10;
    width: 'auto';
    text-transform: uppercase;
  }

  h2 {
    text-transform: uppercase;
  }

  .form-control {
    margin: 25px 0;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 5px;
  }

  .active {
    background-color: var(--we-grey-SYRACUSE);
  }
  input:not([type='checkbox']),
  select {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .error {
    color: var(--we-red-TULSA);
  }
}
