.cuisines-navigation-container {
  background-color: #fafafa;
  padding-bottom: 0.5rem;
  white-space: nowrap;
  overflow-x: auto;

  ul {
    display: flex;
  }

  .nav-item a {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--we-grey-DETROIT);
    padding: 1.5rem 3.2rem;
  }

  .nav-item a.current {
    color: var(--we-black-ANCHORAGE);
    border-bottom: 0.3rem solid #6e6e6e;
  }

  .nav-item a:hover {
    color: var(--we-black-ANCHORAGE);
    background: var(--we-grey-PITTSBURGH);
  }
}
