.footer-container {
  display: block;
  padding: 7px;
  height: 26px;
  color: var(--we-black-ANCHORAGE);
  background: var(--we-grey-SYRACUSE);
  margin-top: 10px;
  font-size: 1.1rem;
  text-align: center;
}
