.header-container {
  display: flex;
  flex-basis: 5.6rem;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--white);
  padding: 0 2.2rem;
  box-shadow: 0 0.2rem 0.2rem rgba(17, 17, 17, 0.2);
  z-index: 2;
}
