.top-section {
  background-color: #fafafa;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  .container {
    display: flex;
    align-items: center;
  }
}

.top-restaurant {
  display: flex;
  flex: 0 0 70%;

  .top-rest-icon {
    flex-basis: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
  }

  .top-rest-title {
    flex: 1 1 auto;
    margin: 0 2rem;
  }

  .top-rest-title h1 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--we-black-ANCHORAGE);
    white-space: nowrap;
    margin: 1.3rem 0;
  }

  .top-rest-title i {
    font-size: 1.5rem;
    // color: #6e6e6e;
  }
}
